
$Geometria-Regular: "Geometria-Regular", sans-serif;
$Geometria-Medium: "Geometria-Medium", sans-serif;
$Geometria-Bold: "Geometria-Bold", sans-serif;

$Gilroy-Regular: "Gilroy-Regular", sans-serif;
$Gilroy-Medium: "Gilroy-Medium", sans-serif;
$Gilroy-Bold: "Gilroy-Bold", sans-serif;

$color-white: #ffffff;
$color-black: #352F2F;

$accent: #E9BB0D;
$accent-hover: #D4A808;
$color-red: #F06543;
$color-green: #2C890B;
$color-mentol: #0096B0;

$color-grey: #858F98;
$color-grey-light: #F6F5F5;
$color-grey-stroke: #E2E8F0;
$color-grey-dark: #EDEBEB;

// старые переменные начало
$color-thin: #F2F4F7;
$color-thin-dark: #D9DCE1;
$color-black-light: #282A2F;
// старые переменные конец

$radius-default: 18px;
$radius-8: 8px;
$radius-12: 12px;
$radius-50: 50%;
$box-shadow: 0 2px 12px 0 rgba(53, 57, 63, 0.12);