.nav {
   width: calc(100% - 182px);
   display: flex;
   align-items: center;
   margin-right: auto;
   column-gap: 36px;
   margin-right: auto;
   @include breakpoint(desktop) {
      column-gap: 24px;
   }
   &__item {
      @include breakpoint(desktop) {
         width: 100%;
         padding-top: 10px;
         padding-bottom: 10px;
         border-bottom: 1px dashed $color-grey-stroke;
      }
      &:last-child {
         @include breakpoint(desktop) {
            border-bottom: none;
         }
      }

      a {
         @include breakpoint(desktop) {
            padding: 8px 0;
            color: $color-black;
         }
      }

      position: relative;
   }
   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 24px;
      @include breakpoint(desktop) {
         width: 100%;
         align-items: flex-start;
         flex-direction: column;
         row-gap: 0;
      }
   }
   &__link {
      display: block;
      font-family: $Gilroy-Medium;
      font-size: 14px;
      line-height: 1.45;
      color: $color-black;
      white-space: nowrap;
      padding: 5px 0;
      &:hover,
      &:active,
      &.active {
         color: $accent;
      }
   }

   @include breakpoint(desktop) {
      --header-height: 61px;
      position: fixed;
      top: 61px;
      right: 0;
      bottom: 0;
      z-index: 50;
      align-items: flex-start;
      flex-direction: column;
      row-gap: 8px;
      overflow-y: auto;
      padding: 24px 18px;
      width: 100%;
      max-width: 100%;
      min-width: 320px;
      min-height: 400px;
      height: calc(100% - var(--header-height));
      background-color: $color-white;
      border-radius: 0;
      right: -100%;
      transition: right 0.6s ease-in-out;
      border-top: 1px solid $color-grey-stroke;
   }

   nav {
      display: flex;
      align-items: center;
      column-gap: 36px;
      @include breakpoint(desktop) {
         column-gap: 24px;
         flex-direction: column;
         width: 100%;
      }
   }
   .btn-catalog {
      width: 100%;
      max-width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px 16px;
      column-gap: 8px;
      font-family: $Gilroy-Medium;
      color: $color-white;
      span {
         display: block;

         @include breakpoint(desktop) {
            margin-top: 2px;
         }
      }
      @include breakpoint(desktop) {
         width: 100%;
         max-width: 100%;
         height: 40px;
         line-height: 1.45;
      }

      .icon {
         display: block;
         width: 16px;
         height: 16px;
         flex-shrink: 0;
      }
   }

   &--visible {
      right: 0;
      @include breakpoint(desktop) {
         transform: none;
      }
   }
}

.top-nav__list {
   display: flex;
   column-gap: 24px;
   .header-fixed-content__mobile & {
      flex-wrap: wrap;
      row-gap: 16px;
   }
   .nav__item {
      .header-fixed-content__mobile & {
         width: auto;
         padding-top: 0;
         padding-bottom: 0;
         border-bottom: none;
      }
      a {
         .header-fixed-content__mobile & {
            padding-top: 4px;
            padding-bottom: 4px;
         }
      }
   }
}
