body.page_body {
    .search-section {
        background-color: $color-grey-light;
        padding: 48px 0;
        margin-top: -30px;
        @include breakpoint(tablet) {
            padding: 32px 0;
        }
        @include breakpoint(mobileonly) {
            padding: 24px 0;
            margin-top: -24px;
        }

        & + .catalog,
        & + div {
            padding-top: 48px;
            .catalog__header {
                display: none;
                @include breakpoint(tablet) {
                    display: flex;
                }
            }

            .filter__list + .filter__list-default {
                padding-top: 0;
            }
        }
        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            h2 {
                margin-bottom: 0;
            }
            @include breakpoint(mobileonly) {
                row-gap: 18px;
            }
        }
        form {
            width: 100%;
            max-width: 692px;
        }
        .search {
            &__inner {
                &-input {
                    position: relative;
                    z-index: 1;
                }
                .search__input {
                    padding: 15px 78px 15px 18px;
                    &.filled {
                        & + .search__button {
                            display: none;
                        }
                        & ~ .search__reset {
                            display: flex;
                        }
                    }
                }
                button {
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    z-index: 3;
                    &.search__button {
                        width: 73px;
                        height: 40px;
                        display: flex;
                        border-radius: 8px;
                    }
                    &.search__reset {
                        display: none;
                        width: 40px;
                        height: 40px;
                        background-color: transparent;
                        cursor: pointer;
                        display: none;
                    }
                }
            }
            &__input {
                width: 100%;
            }
        }
    }
    &.search-catalog-page {
        .catalog .filter__list + .filter__list-default {
            @include breakpoint(tablet) {
                padding-top: 23px;
            }
        }
    }
}
